@import '../../../../index.scss';
.SectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4rem;
}

.Title {
  font-size: 36px;
  font-weight: 700;
  color: $primaryBlack;
}

.Title__Secondary {
  @extend .Title;
  font-size: 24px;
}

.SubTitle {
  color: $primaryGrey;
  font-weight: 600;
  font-size: 18px;
}
