@import '../../../../index.scss';

.analysis {
  display: grid;
  grid-template-columns: 10fr 7fr;
  padding-bottom: 1rem;
  gap: 5rem;

  @media screen and (max-width: $desktop) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
