.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;

    /* nav {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        //max-width: 200px;
    }*/

    &__nav {
        display: flex;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
        width: 200px;

        &--list {
            list-style-type: none;
            color: black;
            display: flex;
            width: 100%;
            justify-content: space-between;

            li {
                font-weight: bold;
            }

            li:hover {
                cursor: pointer;
            }
        }
    }
}

.start {
    padding: 20px 20px;
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;

    &__header {
        padding: 20px 0;
        line-height: 4rem;
        font-size: 2.5rem;
    }
    &__paragraph {
        margin: 35px 0;
        max-width: 700px;
    }

    &__buttons {
        margin: 50px 0;
        margin: 20px 0;
        max-width: 450px;
        display: flex;
        justify-content: space-between;
    }
}

.about {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    //justify-content: space-between;
}

.footer {
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: space-between;
    padding: 20px 20px;
}
