section {
  overflow: hidden;
}

.elipse1 {
  z-index: -1;
  position: absolute;
  //left: 45.66%;
  right: 0;
  top: 0;
  width: 70%;
  //bottom: 72.04%;
}
.elipse2 {
  z-index: -1;
  position: absolute;
  //left: 45.66%;
  right: 0;
  top: 70%;
  //width: 40%;
  //height: 500px;
  //bottom: 72.04%;
}
