@import '../../../../index.scss';

aside {
  position: sticky;
  top: 0;
  background-color: lightblue;
  grid-row: span 2;
  height: 100vh;
  background-color: $backgroudnGray;
  border-right: 1px solid #f0f0f0; // new variable?
  z-index: 5;
  padding: 2rem 0.4rem;
  .menuMobile {
    display: none;
  }
  .menuDesktop {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  @media screen and (max-width: $desktop) {
    height: fit-content;
    padding: 1rem 0;
    grid-row: 1;

    .menuMobile {
      display: block;
      display: flex;
      justify-content: space-between;
    }
    .menuDesktop {
      display: none;
    }
  }
}
