@import '../../../../index.scss';

$border: 2px solid #e5e5e5;

.eco-score {
  display: grid;
  grid-template: auto 1fr / 1fr;
  gap: 2rem;

  @media screen and (max-width: $mobile) {
    gap: 1rem;
  }

  &__labels {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__container {
    border: $border;
    border-radius: 1.5rem;
  }
}

.eco-score-card {
  height: 100%;
  display: grid;
  grid-template: minmax(120px, max-content) auto / auto;

  &__header {
    display: grid;
    grid-template: minmax(4rem, auto) / auto;
  }

  &__ecometer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media screen and (max-width: $mobile) {
      padding-bottom: 3.5rem;
    }
  }

  &--border-right {
    border-right: $border;
  }

  &--border-bottom {
    border-bottom: $border;
  }
}

.header {
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroudnGray;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }

  &__savings {
    display: grid;
    grid-template: auto / 1fr 1fr;

    @media screen and (max-width: $mobile) {
      grid-template: 1fr 1fr / auto;
    }
  }
}

.label {
  font-size: 1.3rem;

  &__value {
    font-weight: 700;
  }
}

.savings {
  &__money,
  &__energy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 4rem;
    gap: 0.5rem;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      opacity: 0.2;
      position: absolute;
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }

  &__money {
    @media screen and (max-width: $mobile) {
      border-bottom: $border;
    }

    &::before {
      background-image: url('../../../../assets/dollar_icon.png');
    }
  }

  &__energy {
    &::before {
      background-image: url('../../../../assets/thunder_icon.png');
    }
  }
}

.money,
.energy {
  font-weight: 600;

  &__current {
    min-width: 2rem;
    min-width: 3rem;
    text-align: center;
  }

  &__img {
    transform: rotate(90deg);
  }
}

.money-savings,
.energy-savings {
  display: flex;
  flex-direction: column;

  &__savings {
    color: #4eb64a;
    font-size: 20px;
    min-width: 4rem;
    text-align: center;
  }

  &__percentages {
    font-size: 10px;
    color: #4eb64a;
    font-weight: 700;
    text-align: center;
    background-color: #c8ffc6;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
  }
}

.noEnoughData {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    max-width: 80%;
    height: auto;
    padding: 20px 0;
  }

  &__text {
    padding: 10px 0;

    h3 {
      font-size: 36px;
      color: $primaryBlack;
    }

    p {
      font-size: 16px;
      color: $primaryGrey;
    }
  }
}
