@import '../../../../index.scss';

.improvement {
    display: grid;
    grid-template: auto 1fr / 1fr;
    gap: 2rem;

    @media screen and (max-width: $mobile) {
        gap: 1rem;
    }
}

.improvement__labels {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.improvement__container {
    background-color: purple;
    border-radius: 1.5rem;
    height: 400px;
}