@import '../../../../index.scss';

.configurationCardActive {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  height: 109px;
  width: 174px;
  border-radius: 10px;
  background-color: white;
  color: $primaryBlack;
  font-weight: 600;

  .configurationCard {
    &__header {
      color: white;
      border-bottom: 1px solid $dividers;

      &--price {
        background-color: $primaryBlue;
        border-radius: 9px 0px 0px 0px;
        color: white;
        width: 68px;
        font-weight: 700;
        text-align: center;
        padding: 5px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid $primaryBlue;
    border-radius: 10px;
  }
}

.configurationCard {
  position: relative;
  height: 109px;
  width: 174px;
  border-radius: 10px;
  background-color: white;
  color: $primaryBlack;
  font-weight: 600;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }

  &__header {
    border-bottom: 1px solid $dividers;

    &--price {
      background-color: #cae2f7;
      border-radius: 9px 0px 0px 0px;
      color: $primaryBlue;
      width: 68px;
      font-weight: 700;
      text-align: center;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__content {
    display: flex;
    color: $accentVibrantBlueDarker;
    height: 76px;

    &--deviceImg {
      color: $primaryBlue;
      min-width: 68px;
      border-radius: 0 0 0 10px;
      height: 76px;
      background-color: #f1f8ff;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55%;
        height: 55%;
      }
    }

    &--deviceName {
      color: $primaryBlack;
      display: flex;
      word-break: break-all;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      max-width: 80px;
      height: 2.5rem;
      margin: auto;

      .configurationCard__tag_upgraded {
        font-size: 11px;
        background-color: #8cea895d;
        color: #4eb64a;
        padding: 2px 8px;
        font-weight: 600;
        border-radius: 2px;
      }

      & p {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

.icon_position {
  position: absolute;
  right: 10px;
  top: 10px;
}
