@import '../../../../index.scss';

.configuration {
  display: grid;
  grid-template: repeat(2, minmax(min-content, max-content)) 1fr / 1fr;
  padding: 2rem;
  padding-top: 1rem;
  gap: 1rem;

  &__headers {
    h2 {
      font-size: 24px;
      color: $primaryBlack;
    }
    h5 {
      font-size: 14px;
      color: $primaryGrey;
    }
  }

  &__navbar {
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
    flex-wrap: wrap;
  }

  &__appliances {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: $backgroudnGray;
    align-items: center;
  }

  &__noDevices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--text {
      padding: 20px 0;
      text-align: center;
    }
    h3 {
      color: $primaryBlack;
      font-size: 36px;
    }
    p {
      color: $primaryGrey;
      font-size: 16px;
    }
  }
}
