@import '../../../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  &__nav {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 150px;

    &--list {
      list-style-type: none;
      color: $primaryBlack;
      display: flex;
      width: 100%;
      justify-content: space-between;

      li {
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
