@import '../../../index.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 450px; // to delete?

  &::after {
    content: '';
    border-bottom: 1px solid $dividers;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &::before {
    content: '';
    border-top: 1px solid $dividers;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  @media screen and (max-width: $mobile) {
    height: 100%;
    width: fit-content;
    justify-content: space-evenly;
    align-content: center;
    border-top: 1px solid $dividers;
    border-bottom: 1px solid $dividers;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: $primaryBlack;

  &__label {
    font-weight: bolder;
  }

  &__text {
    color: $primaryGrey;
    font-size: 0.75rem;
  }

  &__input {
    width: 100%;
    padding: 0.3rem 0.5rem;

    @media screen and (max-width: $mobile) {
      padding: 0.75rem 1rem;
    }
  }

  &__input:focus {
    outline: 0;
  }
}

.hint-group {
  display: grid;
  grid-template: auto / auto 1fr;

  &__img {
  }

  &__instructions {
  }
}

.instructions-group {
  color: $primaryBlack;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0.75rem;

  &__img {
    width: 1.25rem;
    aspect-ratio: 1/1;
    align-self: flex-end;
    cursor: pointer;
  }

  &__label {
    font-weight: bolder;
  }

  &__text {
    color: $primaryGrey;
    font-size: 0.75rem;
  }

  &__link {
    font-size: 0.75rem;
    text-decoration: none;
    color: $accentVibrantBlue;
  }
}

.header-group {
  display: grid;
  grid-template: auto / 1fr auto;
  color: $primaryBlack;
  padding: 1.5rem;

  &__label {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  &__text {
    color: $primaryGrey;
    font-size: 0.75rem;
  }
}
